<ion-view class="about-screen">
	<ion-content>
		<section class="main-section">
			<div class="mini-brand">
				<a ng-href="#/"><span class="zmgicon-logo-zeru-volver"></span></a>
			</div>
			<section>
				<h1>Zerumugari buruz</h1>
				<p>Ezagutu euskal mendikateko mendiak zure eskuko gailuaren bidez. Esperientzietan banatuta, Zerumuga aplikazioari esker gure inguruko mendiak sakonago ezagutu ditzakezu esperientzia bakoitzaren bidez: deiadar mendiak, hiru handiak, infernuko diagonala...</p>
				<p>Aplikazio honi esker, esperientzia bakoitzean sartzeko aukera izango duzu, bakoitzaren historiaren berri izatekoa eta mendi bakoitza sakonago ezagutzekoa. Mendiz mendi ibil zaitezke, gailur bakoitzetik zerumugari begira egon zure gailutik 360º-ko irudien bidez eta toki horri buruzko zehaztasun gehiago jakin: nondik joan, historia, fauna eta flora, geologia eta toki bakoitzeko ibilbiderik esanguratsuenak. Datu errealak eta interaktiboak batu dira aplikazioan ilustrazioen, 360º irudien, bideoen, bestelako irudien eta soinuen bidez.</p>
				<p>Zerumugari esker, gure ingurua hobeto ezagutu dezakezu zure eskuko gailua erabiliaz, dela etxeko erosotasunetik dela tokian bertatik, mendi bakoitzaren gailurretik.</p>
				<p><a ng-click="openLink('http://www.zerumuga.eus','_system','location=yes')">www.zerumuga.eus</a></p>

			</section>

		</section>
		<img class="about-img" src="http://assets.zerumuga.eus/images/about/about.png"/>
	</ion-content>
</ion-view>