<ion-view>
	<ion-content class="credits-screen">
		<section class="main-section bg-grey">
			<div class="mini-brand">
				<a ng-href="#/"><span class="zmgicon-logo-zeru-volver"></span></a>
			</div>
			<section class="featured">
				<h1>Ideia eta garapena</h1>
				<p class="bigger">Workoholics SL</p>
				<a ng-click="openLink('http://www.workoholics.es','_system','location=yes')">www.workoholics.es</a>
				<p>Kontaktua:<br><a ng-click="openLink('mailto:hello@workoholics.es','_system','location=yes')">hello@workoholics.es</a></p>
			</section>
			<section>
				<h2>Informazio iturriak</h2>
				<a ng-click="openLink('http://www.wikiloc.com','_system','location=yes')">www.wikiloc.com</a>
				<a ng-click="openLink('http://www.mendikat.net','_system','location=yes')">www.mendikat.net</a>
				<a ng-click="openLink('http://www.wikipedia.org','_system','location=yes')">www.wikipedia.org</a>
				<a ng-click="openLink('http://www.occipital.com/360/app','_system','location=yes')">360 panorama	</a>
				<p>Euskal mendien atlasa<br>ISBN 84-934041-5-2</p>
			</section>
			<section>
				<h2>Basemaps</h2>
				<p><a ng-click="openLink('http://leafletjs.com/','_system','location=yes')">Leaflet</a> | Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community</p>
				<p>&copy; <a ng-click="openLink('http://www.openstreetmap.org/copyright','_system','location=yes')">OpenStreetMap</a> contributors, &copy; <a ng-click="openLink('http://cartodb.com/attributions','_system','location=yes')">CartoDB</a></p>
			</section>
			<section class="worko-logo">
				<img src="img/worko.png"/>
				<a ng-click="openLink('http://www.workoholics.es','_system','location=yes')">www.workoholics.es</a>
			</section>
		</section>
	</ion-content>
</ion-view>